$main: #2266e1;
$secondary: #00215B;
$black :#000000;
$gray22:#383838;
$harmonies:#7AA3ED;
$azalea:#BDD1F6;
$whiteSmoke:#f9fafb;
$White:#ffff;

.container{
    background-color: $whiteSmoke;
}
.sign-up{
    background-color: $White;
}